connections:
    some_irc:
        type: irc
        host: irc.host.name
        port: 6667
        nickname: bridge
    hipchat_xmpp:
        type: hipchat_xmpp
        username: "XMPP_USER_NAME"
        password: "XMPP_USER_PASSWORD"
        nickname: "HIPCHAT NICKNAME"
        default_room: "HIPCHAT_ROOM_NAME"
    telegrem:
        type: telegrem
        cli: /path/to/tg/bin/telegrem-cli
        key: /path/to/tg/tg-server.pub

bridge:
    -
        some_irc: "#test"
        hipchat_xmpp: "test_room"

    -
        some_irc: "#telegram"
        telegram: "chat#12341234"

# only use telegram service
photo:
    use: false
    # need install gdata, oauth2client
    service: picasa
    account: gmail_account@gmail.com
    # generate google dev console
    client_secret: /path/to/google/client_secret.json
    credentials_dat: /path/to/google/credentials.dat
